.btn {
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  transition: all 0.2s;
  font-size: 1.4 rem;
}

.btn-primary {
  background-color: rgb(19, 140, 150);
}

.btn-primary:hover {
  background-color: rgb(19, 78, 74);
}

.btn-primary:disabled {
  background-color: rgb(19, 78, 74);
  color: rgb(200, 200, 200);
}
