.btn {
  padding: 0.4rem 1.2rem;
  border-radius: 3px;
  transition: all 0.2s;
  font-size: 1.6rem;
}

.btn-primary {
  background-color: rgb(0, 73, 0);
}

.btn-primary:hover {
  background-color: rgb(0, 50, 0);
}

.btn-primary:disabled {
  background-color: rgb(0, 40, 0);
  color: rgb(200, 200, 200);
}
